* {
    margin: 0;
    padding: 0;
}

html {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Courier New', Courier, monospace;
}

body {
    width: 100vw;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5vh;

    background-color:dimgrey;
}

button {
    background-color: inherit;
    font-family: inherit;
    font-size: inherit;
    border: none;
}

.starting-menu {
    box-sizing: border-box;
    width: 40rem;
    height: 30rem;
    border: gainsboro 12px ridge;
    background-color: #c9c9c9;
    padding: 3rem;
    font-size: 1.4rem;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(2, 1fr);

    justify-items: center;
}

.starting-menu h1 {
    grid-column: 1 / -1;
    align-self: self-end;
}

.starting-menu p {
    grid-row: 2/ 3;
    grid-column: 1 / -1;
    align-self: center;
}

.starting-menu button {
    width: 10rem;
    height: 3rem;
    
    border: gainsboro 6px outset;
    background-color: #c9c9c9;
    grid-row: 3/ 4;
    align-self: self-start;
}

/*Button pseudoclass styling */
.starting-menu button:hover, .utilities button#options:hover, .options-menu button:hover, .win-screen button.new-game:hover{
    background-color: rgb(218, 216, 216);
}
.starting-menu button:active, .utilities button#options:active, .options-menu button:active, .win-screen button.new-game:active{
    border-style: inset;
    background-color: rgb(187, 185, 185);
}

/*...*/

/*Utilities exclusive stuff*/
.utilities {
    margin: 20px;
    display: none;
    gap: 8px;
}

.utilities .next-mark-container {
    padding: 0 8px;
    border: gainsboro 6px outset;
    background-color: #c9c9c9;

    height: 3em;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.utilities .next-mark-container .next-mark {
    width: 2em;
    height: 2em;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    border: inset 3px gainsboro;
    background-color: rgb(34, 31, 31);
    color: rgb(255, 0, 0);

    display: grid;
    align-content: center;
    justify-content: center;
}

.utilities button#options {
    display: grid;
    border: gainsboro 6px outset;
    background-color: #c9c9c9;
    justify-items: center;
    align-items: center;

    width: 3em;
    height: 3em;
}

.utilities #options svg {
    width: 1.5em;
    height: 1.5em;
    color: black;
}
/*...*/

.dimmed-container { /*Also used to hold the win screen*/
    width: 100vw;
    height: 100%;
    box-sizing: border-box;
    padding-top: 10%;

    background-color: rgba(0, 0, 0, 0.521);

    display: none;
    justify-content: center;
    position: absolute;
    top: 0;
    
}
/*options menu*/
.options-menu {
    border: gainsboro 12px ridge;
    background-color: #c9c9c9;

    display: none;
    flex-direction: column;
    
    padding: 1em;
    gap: 1em;
    box-sizing: border-box;
    font-size: 1.5em;

    width: 28rem;
    height: 35rem;

}

.options-menu button{
    border: gainsboro 6px outset;
    background-color: #c9c9c9;
    flex: 1;
}

.options-menu button.done {
    width: 60%;
    flex:none;
    align-self: center;
}
.options-menu button.done svg {
    width: 20%;
    color:green;
}
/*...*/

/*Win screen*/
.win-screen {
    border: gainsboro 12px ridge;
    background-color: #c9c9c9;

    width: 25rem;
    height: 25rem;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 20px;
}

.win-screen p {
    font-size: 1.5em;
    text-align: center;
}

.win-screen button.new-game{
    border: gainsboro 6px outset;
    background-color: #c9c9c9;
    padding: 0.5em;
    font-size: 1.5em;
    width: 60%;

    margin-top: 80px;

}

.win-screen button.done {
    width: 1.5em;
    height: 1.5em;
    padding: 0;
    top: 0;
    right: 0;
    border: none;
    background-color: inherit;
    position: absolute;

}
.win-screen button.done svg {
    color: rgb(82, 82, 82);
    width: 1.5em;
    height: 1.5em;
}
    .win-screen button.done:hover svg {
        color: rgb(211, 54, 54);
    }
    .win-screen button.done:active svg{
        color: rgb(187, 133, 133);
    }

/*...*/

.big-grid {
    width: 48rem;
    height: 48rem;
    
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: repeat(3, 3fr);
    gap: 15px;
}

.mini-grid {
    display: grid;    
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: repeat(3, 3fr);
}

.mini-cell {
    box-sizing: border-box;
    display: grid;
    justify-content: center;
    align-content: center;

    font-size: 3rem;
    font-weight: 900;

    border: gainsboro 6px outset;
    background-color: #c9c9c9;

}   
    .mini-cell:hover {
        background-color: rgb(255, 175, 175);
        border-color: rgb(253, 202, 202)
    }

    .mini-cell:active {
        background-color: rgb(255, 69, 69);
        border-style: inset;
        border-color: rgb(255, 102, 102);
    }

    .mini-grid.next-grid .mini-cell:hover:not(.O):not(.X), .big-grid.next-grid .mini-grid:not(.taken) .mini-cell:hover{
        background-color: rgb(206, 206, 206);
        border-color: gainsboro; 
    }
    .mini-grid.next-grid .mini-cell:active:not(.O):not(.X), .big-grid.next-grid .mini-grid:not(.taken) .mini-cell:active {
        border-style: inset;
        background-color: rgb(187, 185, 185);
        border-color: gainsboro; 
    }
    

.mini-cell.X, .mini-cell.O {
    border: rgb(128, 128, 128) 6px solid;
    background-color: rgb(192, 191, 191);
}
.mini-cell.X {
    color: green;
}

.mini-cell.O {
    color:royalblue;
}

.mini-cell.taken-by-X {
    background-color:rgb(103, 202, 3);
    border-color: green;
}

.mini-cell.taken-by-O {
    background-color:dodgerblue;
    border-color: royalblue;
}

.mini-grid.taken-by-X .mini-cell:not(.taken-by-O):not(.taken-by-X),
.mini-grid.taken-by-O .mini-cell:not(.taken-by-O):not(.taken-by-X),
.mini-grid.taken .mini-cell:not(.taken-by-O):not(.taken-by-X) {
    border: #585858 6px solid;
    background-color: gray;
    color: #585858;
}


.mini-cell:disabled {
    opacity: 1;    
}

.mini-grid.next-grid {
    box-shadow: 0 0 0px 5px gold;
}

.big-grid.next-grid .mini-grid:not(.taken) {
    box-shadow: 0 0 0px 5px gold;
}

.mini-grid.taken-by-X .mini-cell:not(.taken-by-X):not(.taken-by-O){
    background-color: rgb(158, 245, 77);
    color:#97d65d;
    border-color: #97d65d;
}

.mini-grid.taken-by-O .mini-cell:not(.taken-by-O):not(.taken-by-X){
    background-color: deepskyblue;
    color: #00a7df;
    border-color: #00a7df;
}