* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vh;
}

button {
    background-color: inherit;
    font-family: inherit;
}

.big-grid {
    width: 48rem;
    height: 48rem;
    
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: repeat(3, 3fr);
}

.mini-grid {
    border: solid 2px rgb(0, 0, 0);
    display: grid;    
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: repeat(3, 3fr);
}

.mini-cell {
    border: solid 2px rgb(0, 0, 0);
    display: grid;
    justify-content: center;
    align-content: center;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    font-weight: 900;
}

.mini-cell.X {
    background-color: red;
}

.mini-cell.O {
    background-color: blue;
}

.mini-grid.taken {
    background-color: gray;
}

.next-grid {
    border-color: gold;
}

.big-grid.next-grid .mini-grid:not(.taken) {
    border-color: gold;
}

.mini-grid.X .mini-cell:not(.X){
    background-color: salmon;
}

.mini-grid.O .mini-cell:not(.O){
    background-color: deepskyblue;
}